In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('data/ar_50k.txt', sep=' ', names=['word', 'freq'])

In [11]:
df.head()

  word     freq
0    ،  5527080
1   لا  3103772
2   من  2965717
3   في  2420145
4   أن  2319199

In [12]:
dfs = pd.read_html('https://www.101languages.net/arabic/most-common-arabic-words/')

In [14]:
df = dfs[0]

In [23]:
df.head()

   Number                                        Arabic Word in English word
0       1  لا jQuery(document).ready(function($) { \t$('#...         No   لا
1       2  من jQuery(document).ready(function($) { \t$('#...       From   من
2       3  هذا jQuery(document).ready(function($) { \t$('...       This  هذا
3       4  أن jQuery(document).ready(function($) { \t$('#...       That   أن
4       5  في jQuery(document).ready(function($) { \t$('#...         In   في

In [22]:
df['word'] = df.apply(lambda x: x[1].split()[0], axis=1)

In [24]:
alphabet_dfs = pd.read_html('https://en.wikipedia.org/wiki/History_of_the_alphabet')

In [29]:
alphabet_df = alphabet_dfs[3]

In [30]:
alphabet_df.head()

,nr.,Reconstruction,IPA,value,Ugaritic,Phoenician,Hebrew,Arabic,Greek,Latin,Cyrillic,Runic
0,1,"ʾalpu ""ox""",/ʔ/,1,𐎀,.mw-parser-output .script-phoenician{font-fami...,".mw-parser-output .script-hebrew,.mw-parser-ou...",".mw-parser-output .script-arabic{font-family:""...",Α alpha,A,А azŭ,ᚨ *ansuz
1,2,"baytu ""house""",/b/,2,𐎁,𐤁‎ bēt,ב‎ bēṯ,ﺏ‎ bāʾ,Β bēta,B,"В vĕdĕ, Б buky",ᛒ *berkanan
2,3,"gamlu ""throwstick""",/ɡ/,3,𐎂,𐤂‎ gīmel,ג‎ gīmel,ﺝ‎ jīm,Γ gamma,"C, G",Г glagoli,ᚲ *kaunan
3,4,"daltu ""door"" / diggu ""fish""","/d/, /ð/",4,𐎄,𐤃‎ dālet,ד‎ dāleṯ,"ﺩ‎ dāl, ذ‎ ḏāl",Δ delta,D,Д dobro,NaN
4,5,"haw ""window"" / hallu ""jubilation""",/h/,5,𐎅,𐤄‎ hē,ה‎ hē,ﻫ‎ hāʾ,Ε epsilon,E,"Е ye, Є estĭ",NaN

In [33]:
alphabet_df[['Hebrew','Arabic']]

,Hebrew,Arabic
0,".mw-parser-output .script-hebrew,.mw-parser-ou...",".mw-parser-output .script-arabic{font-family:""..."
1,ב‎ bēṯ,ﺏ‎ bāʾ
2,ג‎ gīmel,ﺝ‎ jīm
3,ד‎ dāleṯ,"ﺩ‎ dāl, ذ‎ ḏāl"
4,ה‎ hē,ﻫ‎ hāʾ
5,ו‎ vāv,و‎ wāw
6,ז‎ zayin,ز‎ zayn or zāy
7,ח‎ ḥēṯ,"ح‎ ḥāʾ, خ‎ ḫāʾ"
8,ט‎ ṭēṯ,"ط‎ ṭāʾ, ظ‎ ẓāʾ"
9,י‎ yōḏ,ي‎ yāʾ
10,כ ך‎ kāf,ك‎ kāf
11,ל‎ lāmeḏ,ل‎ lām
12,מ ם‎ mēm,م‎ mīm
13,נ ן‎ nun,ن‎ nūn
14,ס‎ sāmeḵ,NaN
15,ע‎ ʿayin,"ع‎ ʿayn, غ‎ ġayn"
16,פ ף‎ pē,ف‎ fāʾ
17,צ ץ‎ ṣāḏi,"ص‎ ṣād, ض‎ ḍād"
18,ק‎ qōf,ق‎ qāf
19,ר‎ rēš,ر‎ rāʾ
20,ש‎ šin/śin,"س‎ sīn, ش‎ šīn"
21,ת‎ tāv,"ت‎ tāʾ, ث‎ ṯāʾ"

In [56]:
d = {}
for i in alphabet_df.index[1:]:
    heb = alphabet_df.loc[i, 'Hebrew']
    heb_letters = heb.split()[:-1]
    ar = alphabet_df.loc[i, 'Arabic']
    if type(ar)==float:
        continue
    ar_letters = ar.split(',')
    ar_letters = [a.split()[0].strip('\u200e') for a in ar_letters]
    for a in ar_letters:
        d[a] = heb_letters[0].strip('\u200e')

In [58]:
d['ا'] = 'א'

In [59]:
d

{'ﺏ': 'ב',
 'ﺝ': 'ג',
 'ﺩ': 'ד',
 'ذ': 'ד',
 'ﻫ': 'ה',
 'و': 'ו',
 'ز': 'ז',
 'ح': 'ח',
 'خ': 'ח',
 'ط': 'ט',
 'ظ': 'ט',
 'ي': 'י',
 'ك': 'כ',
 'ل': 'ל',
 'م': 'מ',
 'ن': 'נ',
 'ع': 'ע',
 'غ': 'ע',
 'ف': 'פ',
 'ص': 'צ',
 'ض': 'צ',
 'ق': 'ק',
 'ر': 'ר',
 'س': 'ש',
 'ش': 'ש',
 'ت': 'ת',
 'ث': 'ת',
 'ا': 'א'}

In [60]:
df.head()

   Number                                        Arabic Word in English word
0       1  لا jQuery(document).ready(function($) { \t$('#...         No   لا
1       2  من jQuery(document).ready(function($) { \t$('#...       From   من
2       3  هذا jQuery(document).ready(function($) { \t$('...       This  هذا
3       4  أن jQuery(document).ready(function($) { \t$('#...       That   أن
4       5  في jQuery(document).ready(function($) { \t$('#...         In   في

In [71]:
word = df.loc[2,'word']

In [74]:
trans = ''.join([d[c] if c in d else c for c in word])

In [75]:
trans

'هדא'

In [78]:
df['trans'] = df['word'].apply(lambda x: ''.join([d[c] if c in d else c for c in x]))

In [83]:
df[['in English','trans']].T

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
in English,No,From,This,That,In,I,On,What,Are,O,...,We will be,Team,Together,Loves,Boy,Work,Help,Process,Bear,Jane
trans,לא,מנ,هדא,أנ,פי,أנא,עלى,מא,هל,יא,...,שנכונ,אלפריק,מעא,יחب,אלולد,بעמל,משאעدة,עמליة,תחמל,جינ

In [85]:
df[['word', 'in English', 'trans']].to_csv('data/ar_top_100_trans.txt')